* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #161817;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    position: absolute;
    text-transform: uppercase;
    font-weight: normal;
    color: rgb(255, 241, 223);
    z-index: 100;
    font-family: 'Bree Serif', serif;
    letter-spacing: 40px;
    font-size: 6em;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.205);
    transition: 0.2s ease-in-out;
    opacity: 0;
    filter: blur(10px);
}
h1:hover{
    filter: blur(0px);
    opacity: 1;
}

.container {
    position: relative;
    z-index: 50;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.container img {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: contain;
}

.container img:nth-child(1) {
    z-index: 60;
}
.container img:nth-child(2) {
    z-index: 50;
}
.container img:nth-child(3) {
    z-index: 40;
}
.container img:nth-child(4) {
    z-index: 30;
}
.container img:nth-child(5) {
    z-index: 20;
}
.container img:nth-child(6) {
    z-index: 10;
}