body{
    margin: 0;
    background-color: #151225;
}

#scene {
    position: relative;
    width: 100%;
    height: 100vh;
}

.plan-1, .plan-2, .plan-3, .plan-4, .plan-5, .plan-5, .plan-6 {
    width: 100%;

}

.image_down{

}
.image_up{

}
.image_left{

}
.image_right{

}

.plan-1{
    position: absolute;
    z-index: 100;
}
.plan-2{
    position: absolute;
    z-index: 90;
}
.plan-3{
    position: absolute;
    z-index: 80;
}
.plan-4{
    position: absolute;
    z-index: 70;
}
.plan-5{
    position: absolute;
    z-index: 60;
}
.plan-6{
    position: absolute;
    z-index: 50;
}
