* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #151225;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.container img {
    position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*object-fit: contain;*/
}

.container img:nth-child(1) {
    z-index: 60;
}
.container img:nth-child(2) {
    z-index: 50;
}
.container img:nth-child(3) {
    z-index: 40;
}
.container img:nth-child(4) {
    z-index: 30;
}
.container img:nth-child(5) {
    z-index: 20;
}
.container img:nth-child(6) {
    z-index: 10;
}